{% extends 'base.html.twig' %}

{% block title %} Connexion | YosStream {% endblock %}

{% block body %}
{% for notification in app.flashes("success") %}

		<div class="">

			{{notification}}

		</div>

	{% endfor %}

	<section class="connexion">

		<form method="post" class="form-connect">



			<div class="login-svg">
				<img src="{{ asset('img/movie.svg') }}" alt="">
			</div>

			{% if error %}

				<div style= "color:red;">Votre email ou votre mot de passe est erroné</div>

			{% endif %}

			{% if app.user %}

				<div class="mb-3">
					Vous êtes connecté en tant que
					{{ app.user.username }},
					<a href="{{ path('app_logout') }}">Logout</a>
				</div>

			{% endif %}




			<h1 class="title-connect">Veuillez vous connecter</h1>

			<div class="connect-user">
				<label for="inputEmail">Votre Email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
			</div>

			<div class="connect-user">
				<label for="inputPassword">Mot de passe</label>
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
			</div>
			
			<div class="connect-user">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			</div>

			{#

																							        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
																							        See https://symfony.com/doc/current/security/remember_me.html
																							
																							        <div class="checkbox mb-3">
																							            <label>
																							                <input type="checkbox" name="_remember_me"> Remember me
																							            </label>
																							        </div>
																							    #}
			<div class="connect-user">
				<button class="btn-login" type="submit">
					Se connecter
				</button>
			</div>

		</form>
	</section>
{% endblock %}
