<header class="header-nav">
	<div id="burger" class="burgerMobile">
		<img src="{{ asset('img/burger.svg') }}" alt="">
	</div>

	<div id="croix" class="croixMobile">
		<img src="{{ asset('img/croix.svg') }}" alt="">
	</div>
	<nav class="nav-item nav-mobile">


		<div class="logo-home">
			<img src="{{ asset('img/logo.png') }}" alt="">
		</div>

		{% if app.user %}


			{% if is_granted('ROLE_ADMIN') %}


				<ul class="list-items-roleAdmin">

					<li class="admin-btn">

						<a href="{{ path('profil_user') }}">ADMINISTRATEUR</a>

					</li>

					<li>
						<a class="dropdown-item" href="{{ path('catalogue') }}">Movies</a>
					</li>

					<li>
						<a class="dropdown-item" href="{{ path('catalogue_series') }}">Séries</a>
					</li>

					<li>
						<a class="dropdown-item" href="{{ path('movies_afficher') }}">Gestions des Films</a>
					</li>


					<li>
						<a class="" href="{{ path('series_afficher') }}">Gestions des séries</a>

					</li>

					<li>
						<a class="" href="{{ path('genre_afficher')}}">Gestion des genres</a>
					</li>

					<li>
						<a class="" href="{{ path('user')}}">Gestion des utilisateurs</a>
					</li>

					<li class="">
						<a class="btn-deconnect" href="{{ path('app_logout') }}">Déconnexion</a>
					</li>

				</li>

			{% elseif is_granted('ROLE_USER') %}

				<div>
					<ul class="list-items">
						<li>
							<a class="dropdown-item" href="{{ path('catalogue') }}">Movies</a>
						</li>


						<li>
							<a class="dropdown-item" href="{{ path('catalogue_series') }}">Séries</a>
						</li>

						<li>
							<a href="{{ path('profil_user') }}">Profil</a>
						</li>

						<li>
							<a class="btn-deconnect" href="{{ path('app_logout') }}">Déconnexion</a>
						</li>

					</ul>
				</div>
			</nav>

		{% endif %}


	{% else %}
		<div>
			<ul class="list-items">

				<li>
					<a class="dropdown-item" href="{{ path('catalogue') }}">Movies</a>
				</li>


				<li>
					<a class="dropdown-item" href="{{ path('catalogue_series') }}">Séries</a>
				</li>

				<li>
					<a href="{{ path("home") }}">Accueil</a>
				</li>

				<li>
					<a href="{{ path("app_register") }}">Inscription</a>
				</li>

				<li>
					<a href="{{ path("app_login") }}" id="connect">S'identifier</a>
				</li>
			</ul>
		</div>
	</nav>


{% endif %}

{% block stylesheets %}


	<style>
		.admin-btn a {

			background: #0080f0;
			padding: 9px;
			border-radius: 8px;
		}
	</style>
{% endblock %}
