{% extends 'base.html.twig' %}

{% block title %}
	Page d'inscription
{% endblock %}

{% block body %}


	<section class="formGlobal">


		{{ form_start(registrationForm) }}

		<div class="form-register">

			<div class="register-svg">
				<img src="{{ asset('img/register.svg') }}" alt="">
			</div>
			<div class="form-right">
				<h2 class="title-register">Veuillez vous inscrire</h2>
				<div
					class="form-column">
					{# {{ form_row(registrationForm.name) }} #}
					{{ form_label(registrationForm.name) }}
					<div style="color:red;">
						{{ form_errors(registrationForm.name) }}
					</div>
					{{ form_widget(registrationForm.name) }}
				</div>
				<div class="form-column">

					{{ form_label(registrationForm.username) }}
					<div style="color:red;">
						{{ form_errors(registrationForm.username) }}
					</div>

					{{ form_widget(registrationForm.username) }}
				</div>

				<div class="form-column">
					{{ form_label(registrationForm.email) }}
					<div style="color:red;">
						{{ form_errors(registrationForm.email) }}
					</div>
					{{ form_widget(registrationForm.email) }}
				</div>
				<div class="form-column">
					{{ form_label(registrationForm.plainPassword) }}
					<div style="color:red;">
						{{ form_errors(registrationForm.username) }}
					</div>
					{{ form_widget(registrationForm.plainPassword) }}
				</div>

				<div class="form-column">
					{{ form_row(registrationForm.agreeTerms, {
            label: 'Accepter les conditions'
        }) }}
				</div>
				<div class="form-column btn-center">
					<button type="submit" class="btn btn-mt-3">S'inscrire</button>
				</div>
			</div>
		</div>
	</section>
	{{ form_end(registrationForm) }}
{% endblock %}
