{% extends 'base.html.twig' %}

{% block title %}
	{{ serie.title}}
{% endblock %}

{% block h1 %}
	{{ serie.title|capitalize }}
{% endblock %}

{% block body %}
	<section class="section-affichage-serie">
		<div class="flex-serie-affichage">
			<div>
				{% if serie.image %}

					<img class="img-serie" src="{{ asset("img/upload/"~ serie.image ) }}" alt="">
					<br>

				{% else %}

					<img class="d-block mx-auto" src="{{ asset("img/imageDefault.jpg" ) }}" alt="" style="width:300px">


				{% endif %}
			</div>
			<div class="serie-affich">
				{% if serie.title %}
					<div class="title-get-serie">
						<h3>{{ serie.title }}</h3>
					</div>
					{% else %}

				{% endif %}
				<div class="serie-description">
					<p>{{ serie.description }}</p>

				</div>
				<div class="genre-date-serie">
					<p>
						Type :
						{% if serie.genre[0] is defined %}{% endif %}
						{% for genre in serie.genre %}

							{% if serie.genre|last == genre %}

								{{ genre.type }}

							{% else %}

								{{ genre.type }}

							{% endif %}

						{% endfor %}
					</p>
				</div>


				{# {% if serie.video %}
												
																	<iframe src="{{ asset("img/upload/"~ serie.video ) }}" frameborder="0"></iframe>
												
																{% else %}
												
																	<img src="{{ asset("img/imageDefaulte.png" ) }}" alt="" style="width:100px">
												
																{% endif %} #}

				<div class="genre-date-serie">

					Date de création :
					{{ serie.dateAt|date('d/m/Y H:i:s') }}
				</div>

				<div class="watch-button">
					<button class"button">
						<a href="#serie-affichage">voir la Serie</a>
					</button>
				</div>
			</div>
			{# <a href="{{ path('catalogue_series') }}">Retour à la liste des séries</a> #}
		</div>


		<div id="serie-affichage" class="video-serie-affiche">
			{% if serie.title %}
				<h1>{{ serie.title }}</h1>

			{% endif %}

			{% if serie.video %}

				<iframe src="{{ asset("img/upload/"~ serie.video ) }}" frameborder="0"></iframe>
			{% else %}

				<img src="{{ asset("img/imageDefaulte.png" ) }}" alt="" style="width:100px">

			{% endif %}


		</div>

	</section>


{% endblock %}
{% block stylesheets %}

	<style>
		body {
			background-color: #201c1c;
		}

		h1 {
			text-align: center;
			font-size: 94px;
			padding: 23px;
		}
		a{
			text-decoration:none;
			color:white;
		}
	</style>


{% endblock %}
