{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('reset_password_error') %}
		<div style="color:red;" role="alert">{{ flashError }}</div>
	{% endfor %}

	<section class="form-section-reset">

		
		<small>
			Saisissez votre adresse électronique et nous vous enverrons un
										lien pour réinitialiser votre mot de passe.
		</small>
		{{ form_start(requestForm) }}
        <h1>Réinitialiser le mot de passe</h1>
		{# {{ form_row(requestForm.email) }} #}
		<div class="email-reset">
			{{ form_label(requestForm.email) }}
			{{ form_widget(requestForm.email) }}
		</div>
		<div></div>
		<div class="btn-reset">
			<button class="myButton">Envoyer un courriel</button>
		</div>
		{{ form_end(requestForm) }}

	</section>
{% endblock %}


{% block stylesheets %}


	<style>
		body {
			background: #320e0e;

		}

		.form-section-reset {
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
		h1 {
			text-align: center;
		}

		small {}
		.email-reset {
			display: flex;
			flex-direction: column;
			margin: 21px 0;
		}

		form {
			background: #740000;
			padding: 15px;
			text-align: center;
			margin: 0 auto;
		}
		input {
			border-radius: 5px;
			border: 0;
			height: 24px;
		}
		.myButton {
			box-shadow: inset 0 1px 0 0 #f5978e;
			background: linear-gradient(to bottom, #f24537 5%, #800b00 100%);
			background-color: #f24537;
			border-radius: 6px;
			border: 1px solid #d02718;
			display: inline-block;
			cursor: pointer;
			color: #ffffff;
			font-family: Arial;
			font-size: 15px;
			font-weight: bold;
			padding: 6px 24px;
			text-decoration: none;
			text-shadow: 0 1px 0 #810e05;
		}
		.myButton:hover {
			background: linear-gradient(to bottom, #800b00 5%, #f24537 100%);
			background-color: #800b00;
		}
		.myButton:active {
			position: relative;
			top: 1px;
		}

		.btn-reset {
			display: flex;
			justify-content: center;
		}


	}
	</style>
{% endblock %}
