{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Back Office | Gestions des séries {% endblock %}

{% block body %}


    <a href="{{ path('series_afficher') }}">Retour à la liste des séries</a>

    {{ form_start(form) }}

        {{ form_row(form.title) }}

        {{ form_row(form.description) }}

        {{ form_row(form.imageFile) }}

        {{ form_row(form.videoFile) }}

    {{ form_rest(form) }}

    <input type="submit" value="Modifier" class="">

{{ form_end(form) }}


{% endblock %}
