{% extends 'base.html.twig' %}

{% block title %}
	Modification du mot de passe
	{{ app.user.name }}
	{{ app.user.username }}
{% endblock %}

{% block h1 %}
	Profil
{% endblock %}

{% block body %}




{% for notification in app.flashes("nosuccess") %}
	
	<div class="notify">

		{{notification}}

	</div>

{% endfor %}



	<section class="section-profil">

		<div class="card-profil">
			<img src="{{ asset('img/wave.svg') }}" alt="">
			<h1>Modification du mot de passe de 
				{{ app.user.name }}
				{{ app.user.username }}
			</h1>

			{{ form_start(form) }}

			
			{# {{ form_label(form) }}
			{{ form_widget(form) }}
			{{ form_rest(form) }} #}
			
			{{ form_rest(form) }}
			
			
			
			

			{{ form_end(form) }}

		</div>

	</section>

{% endblock %}


{% block stylesheets %}


	<style>
		.notify{
			background: red;
			padding: 10px 5px;
			display: flex;
			justify-content: center;
		}
		ul{
			color:red;
		}
	</style>
{% endblock %}
