{% extends 'base.html.twig' %}

{% block title %}
	Profil
{% endblock %}

{% block h1 %}
	Profil
{% endblock %}

{% block body %}

{% for notification in app.flashes("success") %}

		<div class="notifi">

			{{notification}}

		</div>
{% endfor %}
	<a class="myButton"href="{{ path('home') }}">Retour à l'accueil</a>
	<section class="section-profil">
		<div class="card-profil">
        <img src="{{ asset('img/wave.svg') }}" alt="">
			<div>
				{% for message in app.flashes('message') %}
					<div>
						{{ message }}
					</div>

				{% endfor %}
			</div>

			<div>
				<h1>
					Profil de
					{{ app.user.name }}
					{{ app.user.username }}
				</h1>
			</div>

			<div class="">
				Nom :
				{{ app.user.name }}
				<br>
				Prénom :
				{{ app.user.username }}
				<br>
				Email :
				{{ app.user.email }}


			</div>

			<div class="btn-profil">
				<button class="buttonClass">
					<a href="{{ path('modifier_profil') }}">Modifier le profil</a>

				</button>
				<button class="buttonRed">
				<a href="{{ path('modifier_mdp') }}">Modifier le mot de passe</a></button>
			</div>
		</div>
	</section>


{% endblock %}

{% block stylesheets %}


	<style>
		
		.notifi{
			background: green;
			padding: 10px 5px;
			display: flex;
			justify-content: center;
		}
	</style>
{% endblock %}
