{% extends 'base.html.twig' %}

{% block title %}
	Les Films YOSSTREAM
{% endblock %}

{% block body %}
<h1>
	Films
</h1>

<a class="btn-ajout-movies" href="{{ path('movies_ajouter') }}">ajouter
</a>

{% if movies  %}
	<table class="table">
		<thead>
			<tr class="title-table">
				<th>Id</th>
				<th>titre</th>
				<th>description</th>
				<th>image</th>
				<th>Genre</th>


				<th>modifier</th>
				<th>supprimer</th>

			</tr>
		</thead>


		<tbody class="tbody-movies">

			{% for moviesArray in movies %}

				<tr>
					<td>{{ moviesArray.id }}</td>
					<td>{{ moviesArray.titre }}</td>
					<td>{{ moviesArray.description }}</td>

					<td>
						{% if moviesArray.image %}

							<img src="{{ asset("img/upload/" ~ moviesArray.image) }}" alt="" style="width:85px">
						{% else %}
							<img src="{{ asset('img/imageDefaul.jpg')}} " alt="" style="width:80px">


						{% endif %}
					</td>
					<td>
						{% if moviesArray.genre[0] is defined %}{% endif %}

						{% for genre in moviesArray.genre %}

							{% if moviesArray.genre|last == genre %}

								{{ genre.type }}

							{% else %}

								{{ genre.type }}

							{% endif %}

						{% endfor %}

					</td>


					<td class="btn-update">
						<a href="{{ path('movies_modifier', {'id': moviesArray.id}) }}">Modifier</a>
					</td>


					<td class="btn-delete">

						<a href="{{ path('movies_supprimer', {'id' : moviesArray.id } ) }}" onclick="return confirm('Souhaitez-vous vraiment supprimer ce produit?')">Supprimer</a>
					</td>
				</tr>

			</tbody>

		{% else %}
			<tr>
				<td colspan="2">Aucun fichier trouver</td>
			</tr>
		{% endfor %}
	</tbody>

</table>{% endif %}{% endblock %}
