{% extends 'base.html.twig' %}

{% block title %}Toutes les séries
{% endblock %}

{% block body %}
	{% for notification in app.flashes("success") %}

		<div class="">


	<section
		class="easy-admin">

		<div class="admin-information">
			<div class="title-admin-information">
				<h3>Admin information
				</h3>
				<img src="{{ asset('img/admin.svg') }}" alt="">
			</div>
			<div class="card-admin">
				{% for user in users %}
					
						<ul class="list-role">
							<li>Nom</li>
							<li class="data-admin">{{ user.name }}</li>
						</ul>
						<ul class="list-role">
							<li>Prénom</li>
							<li class="data-admin">{{ user.username }}</li>
						</ul>
						<ul class="list-role">
							<li>Rôle</li>
							<li class="data-admin">{{ user.roles ? user.roles|json_encode : '' }}</li>
						</ul>
						<ul class="list-role">
							<li>Email</li>
							<li class="data-admin">{{ user.email }}</li>
						</ul>
			
		</div>

	{% endfor %}
	<section class="tableau-serie">

		<table class="table">

			<thead class="">
				<tr
					class="title-table">
					{# <th>Id</th> #}
					<th>Nom</th>
					<th>Prenom</th>
					<th>Role</th>
					<th>Email</th>

					
				</tr>
			</thead>

			<tbody class="tbody-movies">
				{%  for user in users %}
					<tr class="">


						{# <td>{{ series.id }}</td> #}
					<td class="p1">{{ user.username }}</td>
					<td class="p2">{{ user.name }}</td>
					<td class="p2">{{ user.roles ? user.roles|json_encode  }}</td>
					<td class="p2">{{ user.email }}</td>
						
					</tr>

				{% else %}

					<tr>
						<td colspan="2"></td>
					</tr>

				{% endfor %}

			</tbody>

		</table>

	</section>
{% endblock %}
{% block stylesheets %}
<style>
tr:nth-child(odd){
  background-color:black;
}

</style>

{% endblock %}