{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Catalogue
{% endblock %}

{% block h1 %}
	Catalogue
{% endblock %}

{% block body %}
	<div class="title-serie">
		<h1>
			Liste des Movies
		</h1>
	</div>
	<section class="section-catalogue-series">

		{% if movies %}
			{# card #}
			<div class="card-flex">

				{% for moviesArray in movies %}

					<div class="card-series">


						{% if moviesArray.image %}

							<img src="{{ asset("img/upload/" ~ moviesArray.image) }}" alt="" style="width:200px">
						{% else %}
							<img src="{{ asset('img/imageDefaul.jpg')}} " alt="" style="width: 287px;">


						{% endif %}
						<br>

						<h3>
							{{ moviesArray.titre|capitalize}}
						</h3>

						<h3 class="description-serie">
							description
							{{ moviesArray.description}}
						</h3>

						<button class="button-48" role="button">
							<span class="text">
								<a class="btn btn-danger mt-3" href="{{ path("fiche_movies", {'id' : moviesArray.id} ) }}">Afficher</a>
							</span>
						</button>


					</div>
				{% endfor %}


			{% else %}

				<h4 class="">
					Il n'y a aucun produit dans le catalogue</h4>

			{% endif %}
		</section>
	{% endblock %}

	{% block stylesheets %}

		<body>

			<style>
				.section-catalogue-series {
					background: #1f1d1d;
				}
			</style>

		</body>

	{% endblock %}
