{% extends 'base.html.twig' %}

{% block title %}
	{{ movie.titre}}
{% endblock %}

{% block h1 %}
	{{ movie.titre|capitalize }}
{% endblock %}

{% block body %}
	<section class="section-affichage-serie">
		<div class="flex-serie-affichage">
			<div>

				{% if movie.image %}

					<img class="movie-img" src="{{ asset("img/upload/"~ movie.image ) }}" alt="">
					<br>

				{% else %}

					<img class="d-block mx-auto" src="{{ asset("img/imageDefaul.jpg" ) }}" alt="" style="width:300px">  
					<br>

				{% endif %}
			</div>

			<div class="serie-affich">
				{% if movie.titre %}
					<div class="title-get-serie">
						<h3 class="movie-title">{{ movie.titre }}</h3>
					</div>
					{% else %}

				{% endif %}
				<div class="serie-description">
					<p>{{ movie.description }}</p>

				</div>
				<div class="genre-date-serie">
					<p>
						{% if movie.genre[0] is defined %}{% endif %}
						{% for genre in movie.genre %}

							{% if movie.genre|last == genre %}

								{{ genre.type }}

							{% else %}

								{{ genre.type }}

							{% endif %}

						{% endfor %}
					</p>
				</div>
	
				<div class="genre-date-serie">
					Date de création :
					{{ movie.dateAt|date('d/m/Y H:i:s') }}
				</div>
				<div class="watch-button">
					<button class"button">
						<img src="{{ asset('img/play.svg')}}" alt="">
						<a href="#movie-affichage">Voir le Film</a>
					</button>
				</div>
			</div>
		</div>

		<div id="movie-affichage" class="video-serie-affiche">
			{% if movie.titre %}
				<h1>{{ movie.titre }}</h1>

			{% endif %}

			{% if movie.video %}

				<iframe src="{{ asset("img/upload/"~ movie.video ) }}" height="573px" width="1086px" frameborder="0"></iframe>
			{% else %}

				<img src="{{ asset("img/imageDefaulte.png" ) }}" alt="" style="width:100px">

			{% endif %}


		</div>


	</section>
{% endblock %}

{% block stylesheets %}

	<style>
		body {
			background-color: #201c1c;
		}

		h1 {
			text-align: center;
			font-size: 94px;
			padding: 23px;
		}
	</style>


{% endblock %}
